<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="shortcut icon" href="../../../../static/src/img/alibaba.png">
    <script src="../../../../static/src/js/config.js"></script>
    <script src="../../../../static/src/js/require.js"></script>
    <script src="../../../../static/src/js/lib/bootstrap/bootstrap.js"></script>
    <!-- global css begin -->
    <link href="../../../../static/src/css/oj.css" rel="stylesheet">
    <!-- global css end -->
    <style>
        .name-icon {
            float: left;
            display: inline-block;
            width: 37px;
            height: 37px;
            margin-top: 4px;
            margin-right: 20px;
            margin-left: 40px;
        }

    </style>
</head>


<body>

<!-- nav begin -->
<nav class="navbar navbar-masthead navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <img class='name-icon' src="../../../../static/src/img/alibaba.png" alt="">
            <a class="navbar-brand" href="../index.html">Alibaba OJ</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="problem_list.html">题目</a></li>
                <li><a href="help.html">帮助</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="submissions_list.html">我的提交</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="../index.html">退出</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="login.html">
                        登录
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- nav end -->

<!-- custom body begin -->
<div class="container main">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="row">
                <div class="right">
                    <form class="form-inline" method="get" action="/problems/">
                    </form>

                </div>
            </div>
            <div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>题目</th>
                        <th>难度</th>
                        <th>通过率</th>
                    </tr>
                    </thead>
                    <tbody id ='templateBody'>
                    <!--<tr>-->
                        <!--&lt;!&ndash;<th><span class="{% get_problem_status request.user.problems_status.problems item.id %}"></span>&ndash;&gt;-->
                        <!--&lt;!&ndash;</th>&ndash;&gt;-->
                        <!--&lt;!&ndash;<th scope="row">{ item.id }}/th>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td><a href="/problem/{{ item.id }}/">{{ item.title }}</a></td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>&ndash;&gt;-->
                            <!--&lt;!&ndash;{% ifequal item.difficulty 1 %}&ndash;&gt;-->
                            <!--&lt;!&ndash;简单&ndash;&gt;-->
                            <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
                            <!--&lt;!&ndash;{% ifequal item.difficulty 2 %}&ndash;&gt;-->
                            <!--&lt;!&ndash;中等&ndash;&gt;-->
                            <!--&lt;!&ndash;{% else %}&ndash;&gt;-->
                            <!--&lt;!&ndash;难&ndash;&gt;-->
                            <!--&lt;!&ndash;{% endifequal %}&ndash;&gt;-->
                            <!--&lt;!&ndash;{% endifequal %}&ndash;&gt;-->
                        <!--&lt;!&ndash;</td>&ndash;&gt;-->
                        <!--&lt;!&ndash;<td>{{ item|accepted_radio }}</td>&ndash;&gt;-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- custom body end -->


<!-- footer begin -->
<div class="footer">
    <p class="text-muted text-center">Copyright © 2016 Alibaba Inc 百年技术大学1605-04小组</p>
</div>
<!-- footer end -->
</body>
<script>
    var testData = [
        {
            "problemId": 47,
            "title": "A+B问题",
            "description": null,
            "inputDescription": null,
            "outputDescription": null,
            "samples": null,
            "testCaseId": null,
            "hint": null,
            "createTime": null,
            "lastUpdateTime": null,
            "createBy": null,
            "timeLimit": null,
            "memoryLimit": null,
            "visible": null,
            "totalSubmitNumber": 12,
            "totalAcceptedNumber": 1,
            "difficulty": 0,
            "tags": null,
            "source": null
        },
        {
            "problemId": 48,
            "title": "A+C问题",
            "description": null,
            "inputDescription": null,
            "outputDescription": null,
            "samples": null,
            "testCaseId": null,
            "hint": null,
            "createTime": null,
            "lastUpdateTime": null,
            "createBy": null,
            "timeLimit": null,
            "memoryLimit": null,
            "visible": null,
            "totalSubmitNumber": 12,
            "totalAcceptedNumber": 6,
            "difficulty": 1,
            "tags": null,
            "source": null
        }, {
            "problemId": 49,
            "title": "A+B问题555555555555",
            "description": null,
            "inputDescription": null,
            "outputDescription": null,
            "samples": null,
            "testCaseId": null,
            "hint": null,
            "createTime": null,
            "lastUpdateTime": null,
            "createBy": null,
            "timeLimit": null,
            "memoryLimit": null,
            "visible": null,
            "totalSubmitNumber": 12,
            "totalAcceptedNumber": 4,
            "difficulty": 2,
            "tags": null,
            "source": null
        }
    ];
    require(['jquery'], function ($) {
//       $.ajax({
//           url: '',
//           method: "get",
//           dataType: "json",
//           success:function(data){
//               fillTemplate(data)
//           }
//       });
        function  changeDifficultExpress(num) {
            if(num == 0){
                return '简单'
            }else if(num == 1){
                return '一般'
            }else{
                return '困难'
            }
        }
        function acceptRate(totalSubmitNumber,totalAcceptedNumber) {
            return(parseInt(totalAcceptedNumber/totalSubmitNumber*100) +'%('+totalAcceptedNumber+'/'+totalSubmitNumber+')');
        }
        function fillTemplate(data) {
            var template = '',url ='';
            for (var i = 0; i < data.length; i++) {
                url = 'problem.html?id=' + data[i].problemId;
               template = template +
                       '<tr>' +
                       '<th><span>' + [i] + '</span></th>' +
                       '<th scope="row"><a href='+ url+'>' + data[i].title+ '</a></th>' +
                       '<td>'+changeDifficultExpress(data[i].difficulty)+'</td>'+
                       '<td>'+ acceptRate(data[i].totalSubmitNumber,data[i].totalAcceptedNumber)+'</td>'+
                       '</tr>';
            }
            $('#templateBody').html(template);
        }
        fillTemplate(testData);
    });

</script>
</html>
